[ 
    { 
	"service": "twitter", 
	"username": "EXAMPLE_USERNAME" 
    },
    {
	"service": "tumblr",
	"blog_url": "example.tumblr.com",
	"consumer_key": "1234"
    },

    {
	"service": "flickr",
	"username": "USERNAME",
	"api_key": "1234",
	"user_id": "1234"
    },

    {
	"service": "mlkshk",
	"username": "USERNAME",

	"consumer_key": "",
	"consumer_secret": "",
	"access_token": "",
	"access_token_secret": "",
	"shake_id": ""
    },

    {
	"service": "delicious",
	"username": "USERNAME"
    },

    {
    "service": "pinboard",
    "username": "USERNAME"
    },

]
